<section class="setup-helper">
  <div class="setup-helper__bubble">
    <div class="setup-helper__content">
      <%= link_to '', setup_complete_path(show_completed: false), class: 'close fa fa-times' %>
      <div class="progress-bar">

        <div class="progress-bar__bar complete step-one">
            <div class="progress-bar__bar_label"><p>You&#8217;re Here</p><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
      </div>

      <h2>Let's add that methodology</h2>
      <p><%= link_to 'Nevermind, skip for now', setup_next_step_path %></p>
    </div>
  </div>
</section>
