

<section class="setup-helper">
  <div class="setup-helper__bubble">
    <div class="setup-helper__content">
      <%= link_to '', setup_complete_path(show_completed: false), class: 'close fa fa-times' %>
      <div class="progress-bar">

        <div class="progress-bar__bar complete step-one"></div>
        <div class="progress-bar__bar complete">
            <div class="progress-bar__bar_label"><p>Getting close</p><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
      </div>

      <h2>Do you have a list of hosts<br>in scope for this assessment?</h2>
      <p>&lpar;Again. It’s cool if you don’t, you can just skip it for now.&rpar;</p>

      <div class="setup-helper__buttons">
        <%= link_to 'Yes I do', '', class: 'btn btn-large btn-primary' %>
        <%= link_to 'Not now', setup_next_step_path,  class: 'btn btn-large' %>
      </div>
    </div>
  </div>
</section>
