<section class="setup-helper">
  <div class="setup-helper__bubble">
    <div class="setup-helper__content">
      <div class="progress-bar">

        <div class="progress-bar__bar complete step-one">
            <div class="progress-bar__bar_label"><p>You&#8217;re Here</p><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->
      </div>

      <h2>Great! Do you have a testing <br>methodology you’d like to use?</h2>
      <p>&lpar;It’s OK if you don’t, you can just skip it for now and update it later.&rpar;</p>

      <div class="setup-helper__buttons">
        <%= link_to 'Yes I do', add_methodology_path(Methodology.all.first, origin: 'setup-wizard'), class: 'btn btn-large btn-primary' %>
        <%= link_to 'Not now', setup_next_step_path,  class: 'btn btn-large' %>
      </div>
    </div>
  </div>
</section>

<section class="setup-info">
  <h3>What’s a methodology?</h3>
  <p>  A methodology is a series of tasks you want to perform for the assessment.</p>
  <p>They are useful in a number of scenarios:</p>
  <ul>
      <li>Don't forget any of the things you want to test.</li>
      <li>To do a standard set of tests in every project. </li>
      <li>To keep track of what is done and what is next.</li>
      <li><a href="https://dradisframework.com/pro/support/guides/projects/methodologies.html">Learn more about methodologies.</a></li>
  </ul>
</section>
