

<section class="setup-helper">
  <div class="setup-helper__bubble">
    <div class="setup-helper__content">
      <%= link_to '', setup_complete_path(show_completed: false), class: 'close fa fa-times' %>
      <div class="progress-bar">

        <div class="progress-bar__bar complete step-one"></div>
        <div class="progress-bar__bar complete"></div>
        <div class="progress-bar__bar complete">
            <div class="progress-bar__bar_label"><p>Last Step!</p><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
        <!-- <div class="progress-bar__bar"></div> // Last Bar Has Rounded Right Edges-->

      </div>
      <h2>Do you want to upload the<br> output of a security scanner?</h2>
      <p>&lpar;You know the drill. You can just skip it for now if you don’t.&rpar;</p>

      <div class="setup-helper__buttons">
        <%= link_to 'Yes I do', '', class: 'btn btn-large btn-primary' %>
        <%= link_to 'Not now', setup_complete_path(show_completed: true),  class: 'btn btn-large' %>
      </div>
    </div>
  </div>
</section>
