body.projects.show {
  .setup-helper {
    margin: 0 0 20px;
    display: block;
    position: relative;
    z-index: 9;

    .setup-helper__bubble {
      padding: 30px;
      background: #fff;
      border: 1px solid #285d28;
      color: #34495e;
      text-align: center;

      .setup-helper__content {
        display: flex;
        flex-direction: column;

        .setup-helper__buttons {
          padding: 1em 1.5em 0;
        }

        h3 {
          margin: 0 0 20px;
        }

        p {
          margin: 0 0 30px;
        }
      }
    }

    .setup-helper__logo {
      position: absolute;
      top: 100%;
      right: 50%;
      margin-right: -13.5rem;
      margin-top: -0.5rem;
    }
  }
}

.setup-helper__buttons .btn {
  margin: 0 5px;
}

body.setup {
  .setup__step {
    text-align: center;

    .setup__ballon {
      background: #64bc46;
      border-radius: 0.6rem;
      color: #fff;
      margin: 0 auto;
      margin-top: 0.5rem;
      padding: 1rem;
      width: 70%;

      &:before {
        border-bottom-color: rgba(0, 0, 0, 0.05);
        border-width: 1.7rem;
        margin-left: -1.7rem;
        z-index: 0;
      }

      .setup__buttons {
        margin-top: 1.25em;
      }

      h2 {
        color: #fff;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
